{% extends "columnedtemplate.html" %}

{% block title %}
Blog - Index
{% endblock title %}

{% block header %}
Index Page
<hr>
{% endblock header %}

{% block top %}
Feel free to share your thoughts with us!
<hr>
{% endblock top %}

{% block left %}
<h3>Write a thing!</h3>
<br>
<form class="form_control">
  <input type="text" class="form-control" name="blogtitle" placeholder="Title">
  <br>
  <textarea rows="5" type="text" class="form-control" name="blogtext" placeholder="Talk to us!"></textarea>
  <br>
  <input type="submit" class="btn btn-danger" name="submit" value="Submit">
</form>
{% endblock left %}

{% block right %}
<h3>Blog Posts</h3>
<br>
{% if blogs %}
{% for a in blogs %}
<a href="/blog/{{a[0]}}">{{a[1]}}</a>
<br>
{% endfor %}
{% else %}
<h4>
  <br>
  There seems to be no posts here!
  <br>
  Why don't you go make one?
</h4>
{% endif %}
{% endblock right %}
