{% extends "columnedtemplate.html" %}

{% block title %}
Blog - {{title}}
{% endblock title %}

{% block header %}
{{title}}
<hr>
{% endblock header %}


{% block top %}
{{text}}
<hr>
{% endblock top %}

{% block left %}
<h3>Have a reply?</h3>
<br>
<form>
  <input type="text" class="form-control" name="cname" placeholder="Name">
  <br>
  <textarea rows="5" type="text" class="form-control" name="comment" placeholder="Write a comment"></textarea>
  <br>
  <input type="submit" class="btn btn-danger" name="submitc" value="Submit">
  <br>
</form>
{% endblock left %}

{% block right %}
<h3>Comments</h3>
<br>
{% if comments %}
{% for c in comments %}
<br>
{{c[0]}}: {{c[1]}}
<br>
{% endfor %}
{% else %}
No comments here.
{% endif %}
{% endblock right %}
  
